h3 {
    text-align: left;
}

body {
  font-family: "Noto Sans", "Noto Sans SC", "Open Sans", "Clear Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

#write {
  padding-left: 1em;
  padding-right: 1em;
}

p {
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

#write > p::before {
  content: "¶";
  color: var(--text-color3);
  position: absolute;
  left: -1em;
}

h3 {
  font-style: normal;
  font-weight: bold;
}

.md-math-block, .md-rawblock, h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

li .mathjax-block, li p {
    margin: 0;
}

